<div class="hero bg-base-200 min-h-screen">
   @if(account.currentUser()) {
  <!-- Layout khi đã login -->
  <div class="pt-20">
    <!-- Slider -->
    <app-slide-carousel></app-slide-carousel>

    <!-- Dashboard -->
    <div class="bg-gray-50 p-6">
      <div class="mx-auto">
        <app-renter-dashboard></app-renter-dashboard>
      </div>
    </div>
  </div>
}
    @else{
        @if (!registerMode()) {
    <div class="hero-content text-center">
        <div class="flex flex-col items-center">
            
            <h1 class="text-5xl font-bold">Tìm trạm sạc</h1>
            <p class="py-6">Hãy đăng kí để sử dụng nhiều chức năng hơn</p>
            <div class="flex items-center gap-3">
                <button (click)="showRegister(true)" class="btn btn-primary btn-lg">Register</button>
                <button class="btn btn-info btn-lg">Learn more</button>
            </div>
        </div>
    </div>
    } @else {
        <div class="w-full text-2xl text-center flex justify-center">
            <app-register 
                class="w-full"
                (cancelRegister)="showRegister($event)"
            />
        </div>
    }
    }
    

</div>