@import "leaflet/dist/leaflet.css";
@import "leaflet-routing-machine/dist/leaflet-routing-machine.css";

:host {
  display: block;
  width: 100%;
}

#map {
  width: 100% !important;
  height: 550px !important;
  min-height: 550px !important;
  border-radius: 12px;
  overflow: hidden;
}
