<div class="relative hero min-h-screen bg-gradient-to-b from-blue-800 via-blue-900 to-blue-950 overflow-hidden">
  <div class="absolute inset-0 bg-[url('/assets/bank-note.svg')] bg-cover  opacity-20"></div>
  @if (!registerMode()) {

  <div class="min-h-screen flex items-center justify-center p-4 pt-24 z-10 relative">
    <div class="bg-white shadow-2xl rounded-2xl flex w-full max-w-5xl overflow-hidden">

      <!-- Left side -->
      <div
        class="hidden md:flex w-1/2 bg-gradient-to-b from-blue-600 to-blue-900 flex-col items-center justify-center text-white p-10">

        <div
          class="flex items-center gap-3 text-xl font-bold tracking-wide text-white hover:text-accent transition-colors duration-200 cursor-pointer pb-8">
          <img src="/assets/logo.png" alt="Logo" class="w-20 h-20 rounded-full shadow-md">
          <span>EVolt<span class="text-accent text-2xl">Station</span></span>
        </div>
        <p class="text-center text-blue-100 text-lg">
          Đăng nhập để tiếp tục sử dụng dịch vụ trạm sạc xe điện
        </p>
      </div>

      <!-- Right side-->
      <div class="w-full md:w-1/2 p-10">
        <h3 class="text-2xl font-bold text-center text-gray-700 mb-6">Đăng nhập tài khoản của bạn</h3>
        <form (ngSubmit)="login()" novalidate class="flex flex-col gap-4">

          <!-- Username -->
          <div>
            <input type="text" name="username" [(ngModel)]="creds.username" placeholder="Tên đăng nhập"
              autocomplete="off" required #username="ngModel"
              class="input input-bordered w-full rounded-lg font-medium" />
          </div>

          <!-- Password -->
          <div class="relative w-full">
            <input [type]="showPassword ? 'text' : 'password'" name="password" [(ngModel)]="creds.password"
              placeholder="Mật khẩu" autocomplete="off" required #password="ngModel"
              class="input input-bordered w-full rounded-lg font-medium pr-10" />

            <!-- Toggle eye -->


            <button type="button" (click)="togglePassword()"
              class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-500 hover:text-gray-700 transition"
              title="Ẩn/Hiện số dư">
              <!-- Mắt đóng -->
              <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5
             c4.477 0 8.268 2.943 9.542 7
             -1.274 4.057-5.065 7-9.542 7
             -4.477 0-8.268-2.943-9.542-7z" />
              </svg>
              <!-- Mắt mở -->
              <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19
             c-4.477 0-8.268-2.943-9.542-7
             a10.06 10.06 0 012.724-4.17m3.82-2.054
             A9.973 9.973 0 0112 5c4.477 0 8.268 2.943
             9.542 7a9.956 9.956 0 01-4.252 5.568M3 3l18 18" />
              </svg>
            </button>

          </div>

          <!-- Quên mật khẩu -->
          <div class="flex justify-end mt-2 text-sm">
            <a href="#" class="text-blue-600 hover:underline font-medium">Quên mật khẩu?</a>
          </div>

          <!-- Nút đăng nhập -->
          <button type="submit"
            class="w-full mt-4 py-2 rounded-lg text-lg font-bold text-white bg-blue-600 hover:bg-blue-700 focus:bg-blue-900 ">
            Đăng nhập
          </button>

          <!-- Link đăng ký -->
          <p class="text-sm text-center text-black mt-4">
            Bạn chưa có tài khoản?
            <a (click)="showRegister(true)" class="text-blue-600 hover:underline cursor-pointer font-medium">Đăng ký</a>
          </p>
        </form>


        <!-- <div class="flex flex-col items-center mt-4 ">
        <p class="text-center text-gray-500  text-xs">
          Đăng nhập
          <a href="#" class="underline hover:text-blue-300">Quản trị</a>
          hoặc
          <a href="#" class="underline hover:text-blue-300">Nhân viên</a>
          tại đây.
        </p>
      </div> -->
      </div>
    </div>
  </div>
  <!-- link register  -->
  } @else {
  <div class="w-full text-2xl text-center flex justify-center">
    <app-register class="w-full" (cancelRegister)="showRegister($event)"></app-register>
  </div>
  }

</div>