/* ---- Overlay ---- */
.overlay {
  transition: opacity 300ms ease-in-out;
}

/* ---- Side Panel ---- */
.side-panel {
  transform: translateX(100%);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.side-panel.show {
  transform: translateX(0);
}

/* Tạo một chút đổ bóng cho footer khi nó nằm trên nội dung cuộn */
.shadow-t-lg {
  box-shadow: 0 -5px 15px -3px rgba(0, 0, 0, 0.05); /* Lên trên */
}