<header class="h-20 w-full fixed top-0 z-50 bg-gradient-to-r from-blue-800 via-cyan-600 to-cyan-700 shadow-lg">
  <div class="flex items-center px-4 sm:px-10 mx-auto gap-6 h-full  text-white">
    <!-- Logo - Title -->
    <a routerLink="/" routerLinkActive="text-accent" [routerLinkActiveOptions]="{ exact: true }"
      (click)="isMenuOpen = false"
      class="flex items-center gap-3 text-xl font-bold tracking-wide text-white hover:text-cyan-600 transition-colors duration-200">
      <img src="/assets/logo.png" alt="Logo" class="w-11 h-11 rounded-full shadow-md">
      <span>EVolt<span class="text-cyan-600">Station</span></span>
    </a>


    <!-- Navigation (ẩn trên mobile, hiện trên desktop hoặc khi mở menu) -->
    <nav *appHasRole="['Driver']" class="flex flex-col sm:flex-row gap-4 sm:gap-6 my-2 text-sm sm:text-lg font-medium  text-white
             absolute sm:static top-18 left-0 w-full sm:w-auto bg-blue-900 sm:bg-transparent px-6 py-4 sm:p-0 shadow-lg sm:shadow-none
             transition-all duration-300" [class.hidden]="!isMenuOpen && isMobile">

<!--nav này chỉ dành cho Driver-->

       <!-- Dich vu List -->
      <a routerLink="/dich-vu" routerLinkActive="text-cyan-600 " (click)="isMenuOpen = false"
        class=" hover:text-cyan-600 cursor-pointer">Dịch vụ
      </a>
      <a routerLink="/thanh-toan" routerLinkActive="text-cyan-600" (click)="isMenuOpen = false"
        class=" hover:text-cyan-600 cursor-pointer">Thanh
        toán </a><span >|</span>
       
      <!-- reservationSigalR -->
      <a routerLink="/su-kien" routerLinkActive="text-cyan-600"
        (click)="isMenuOpen = false" class=" hover:text-cyan-600 cursor-pointer pl-2">
        <div class="relative inline-block">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
          </svg>
          <span class="absolute -top-1 -right-1 bg-red-600 text-white text-xs rounded-full px-1.5 py-0.5">
            {{this.reservationService.upcomingReservations().length}}
          </span>
        </div>
      </a>
       <!-- Badge số thông báo -->
      <a routerLink="/thong-bao" routerLinkActive="text-gray-300" (click)="isMenuOpen = false"
        class=" cursor-pointer flex items-center ">
        <div class="relative inline-block">
          <span class="material-icons text-3xl cursor-pointer">notifications</span>
          <span class="absolute -top-1 -right-1 bg-red-600 text-white text-xs rounded-full px-1.5 py-0.5">
            0
          </span>
        </div>
        <span class="ml-6">|</span>
      </a> 

      <div class="dropdown dropdown-end mr-5">
        <button tabindex="1"
          class="flex flex-col justify-center items-center cursor-pointer uppercase text-xs text-base-content hover:text-primary transition-colors">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6 text-white">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M9.53 16.122a3 3 0 0 0-5.78 1.128 2.25 2.25 0 0 1-2.4 2.245 4.5 4.5 0 0 0 8.4-2.245c0-.399-.078-.78-.22-1.128Zm0 0a15.998 15.998 0 0 0 3.388-1.62m-5.043-.025a15.994 15.994 0 0 1 1.622-3.395m3.42 3.42a15.995 15.995 0 0 0 4.764-4.648l3.876-5.814a1.151 1.151 0 0 0-1.597-1.597L14.146 6.32a15.996 15.996 0 0 0-4.649 4.763m3.42 3.42a6.776 6.776 0 0 0-3.42-3.42" />
          </svg>
        </button>

        <ul tabindex="1"
          class="dropdown-content menu bg-base-100 text-base-content rounded-box w-52 p-2 shadow max-h-60 overflow-y-auto scroll-smooth">
          @for (theme of themes; track $index) {
          <li (click)="handleSelectedTheme(theme)">
            <a class="capitalize hover:bg-base-200">{{ theme }}</a>
          </li>
          }
        </ul>
      </div>

      @if(busyService.busyRequestCount() >0 ){
      <span class="loading loading-spinner text-accent"></span>
      }

      <a routerLink="/profile" (click)="isMenuOpen = false" class="hover:text-cyan-300 cursor-pointer sm:hidden">Tài
        khoản</a>
      @if(accountService.currentAccount()) {
      <a class="cursor-pointer hover:text-cyan-600 sm:hidden" (click)="logout()" (click)="isMenuOpen = false">Đăng
        xuất</a>
      }

    </nav>

    <div class="hidden sm:flex align-middle ml-auto gap-3" *ngIf="(accountService.currentAccount() ) as account">

      <div *appHasRole="['Driver']" class="bg-base-100 shadow-md rounded-xl px-4 py-2 flex items-center space-x-2">
        <span class="text-sm text-gray-600 font-semibold">Số dư:</span>
        <span class="text-base font-bold text-base-content">
          {{ showBalance() ? (this.driverService.walletBalance()| number) + ' đ' : '•••••• đ' }}
        </span>
        <button (click)="toggleBalance()" class="text-base-content hover:text-gray-700 transition"
          title="Ẩn/Hiện số dư">
          <svg *ngIf="showBalance()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5
             c4.477 0 8.268 2.943 9.542 7
             -1.274 4.057-5.065 7-9.542 7
             -4.477 0-8.268-2.943-9.542-7z" />
          </svg>

          <svg *ngIf="!showBalance()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19
             c-4.477 0-8.268-2.943-9.542-7
             a10.06 10.06 0 012.724-4.17m3.82-2.054
             A9.973 9.973 0 0112 5c4.477 0 8.268 2.943
             9.542 7a9.956 9.956 0 01-4.252 5.568M3 3l18 18" />
          </svg>
        </button>
      </div>

      <div class="dropdown dropdown-end ">
        <div tabindex="0" role="button" class="flex items-center text-xl gap-3 cursor-pointer">
          <div class="flex flex-col items-start">
            <span class="text-sm">Xin chào,
              <span class="text-xl font-bold ">
                {{ account.username | titlecase}}
              </span>
            </span>
          </div>

          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-11">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
          </svg>

        </div>
        <ul tabindex="0" class=" text-base-content
         bg-base-100 dark:bg-gray-800 dropdown-content menu rounded-box z-1 w-52 p-2 shadow-sm">
          <li><a routerLink="/tai-khoan">Profile</a></li>
          <li *appHasRole="['Driver']"><a routerLink="/lichsugiaodich">Transaction</a></li>
          <li><a class="bg-red-500 text-white" (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </div>



    <div class="ml-auto" *ngIf="(accountService.currentAccount() ) === null">
      <!-- Nút hamburger (chỉ hiện trên mobile) -->
      <button class="sm:hidden ml-auto text-white focus:outline-none" (click)="isMenuOpen = !isMenuOpen">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
          class="size-8">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>

      <a routerLink="/dang-nhap" routerLinkActive="text-cyan-600" (click)="isMenuOpen = false" class="hidden sm:inline-flex items-center justify-center px-5 py-2.5 
         border border-cyan-600 text-cyan-600 font-medium rounded-full 
         hover:bg-cyan-700 hover:text-white transition-all duration-200">
        Đăng nhập
      </a>

    </div>

  </div>
</header>