<div class="hero bg-base-200 min-h-screen">
    @if(account.currentUser()) {
    <!-- Layout khi đã login -->
    <div class="pt-20">
        <!-- Slider -->
        <app-slide-carousel></app-slide-carousel>

        <!-- Dashboard -->
        <div class="pb-5 bg-gray-50 mt-6 px-15">
            <div class="max-w-full">
                <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mb-8">
                    <div class="bg-white rounded-xl shadow p-6 lg:col-span-2">
                        <app-renter-dashboard></app-renter-dashboard>
                    </div>
                    <!-- Quick Actions -->
                    <div class="bg-white rounded-xl shadow p-6 space-y-2">
                        <img class="w-full h-10/12 rounded-lg" src="/assets/map.png">
                        <button class="mt-1.5 w-full bg-blue-400 hover:bg-blue-600 text-white px-4 py-2 rounded-lg">🔍
                            Tìm
                            trạm
                            sạc</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-20 bg-gray-50 px-15">
            <!-- More information -->

            <div class="flex border-b mb-4">

                <button (click)="changeTab('news')"
                    [ngClass]="{'border-b-2 border-orange-500 text-orange-600': activeTab==='news','text-gray-500':activeTab!=='news'}"
                    class="px-4 py-2">Tin tức</button>
                <button (click)="changeTab('contact')"
                    [ngClass]="{'border-b-2 border-orange-500 text-orange-600': activeTab==='contact','text-gray-500':activeTab!=='contact'}"
                    class="px-4 py-2">Liên hệ</button>
                <button (click)="changeTab('instruction')"
                    [ngClass]="{'border-b-2 border-orange-500 text-orange-600': activeTab==='instruction','text-gray-500':activeTab!=='instruction'}"
                    class="px-4 py-2">Hướng dẫn sử dụng</button>
            </div>

            <!-- contact -->
            <div *ngIf="activeTab==='contact'">
                <app-contact></app-contact>
            </div>

            <!-- news -->
            <div *ngIf="activeTab==='news'">
                <app-news></app-news>
            </div>

            <!-- Instruction -->
            <div *ngIf="activeTab==='instruction'">
                <app-instruction class="grid grid-cols-1 md:grid-cols-2 gap-6"></app-instruction>
            </div>

        </div>
    </div>

    }@else{
        <app-login></app-login>
    }

</div>